<!doctype html>
<html>
<head>
    <!-- Main Page when you go to localhost -->
    <!-- Home Page -->
    <title>Espress-Yo'Self</title>
    <link href="https://fonts.googleapis.com/css2?family=Tiro+Kannada&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/index.css">
</head>
<body class="index">
<div class="container">
    <div class="whiteBoard">
    <h1 class="title">Welcome to Espress-Yo'Self!</h1>
    <p class="">The build your own coffee just the way you like it Cafe!</p>
    </div>
    <div class="bigDiv"> 
        <div class="lilDiv left">
            <h3>Are you an Espresso Enjoyer?</h3>
            <p>If so, click <a href="/order">here</a> to place an order!</p>
        </div>
        <div class="lilDiv right">
            <h3>Are you an Espresso Maestro?</h3>
            <p>If so, click <a href="/login">here</a> to fufill an order! </p>
            <p>If it's your first time fufilling an order click <a href="/signup">here</a> to get started!</p>
        </div>
    </div>
</div>
</body>
</html>
